table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

tr {
  background-color: rgba(255, 166, 0, 0.689);
  width: 100px;
  border-radius: 5px;
}

thead tr {
  background-color: #282c42;
  color: snow;
}

tr:nth-child(even) {
  background-color: white;
}

th,
td {
  padding: 6px;
  text-align: center;
}

td button {
  margin: 0;
  background: none;
  color: initial;
  display: inline;
}

.btnFrame {
  display: flex;
  justify-content: end;
  align-items: center;
}

.return-link-ancor {
  text-decoration: none;
}

.return-link {
  display: flex;
  align-items: center;
  gap: 3px;
}

label {
  font-size: 20px;
  background: -webkit-linear-gradient(#a27b33, #eb8d13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
